<h1>tinyApp</h1>
<% if (!user) { %>
  <form action='/login' method='GET' style='display:inline;'>
    <input type='submit' value='Login'>
  </form>
  <form action='/register' method='GET' style='display:inline;'>
    <input type='submit' value='Register'>
  </form>
<% } else { %>
  <form action='/logout' method='POST' style='display:inline;'>
    <b><%= user.email %></b>
    <input type='submit' value='Logout'>
  </form>
<% } %>
<br><br>