<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <form action='/register' method='POST'>
    <input type='email' name='email'>
    <input type='password' name='password'>
    <input type='submint' value='Register'>
  </form>
</body>
</html>