<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <table style='widht:100%;'>
      <% for (let key in urls) { %>
        <tr>
          <td><b><%= key %></b> - <%= urls[key] %></td>
          <td><a href='/urls/<%= key%>' style='margin:20px;'>Edit</a></td>
          <td>
            <form action='<%= `/urls/${key}/delete` %>' method='POST' style='display:inline; margin:20px'>
              <input type='submit' value='Delete'>
            </form>
          </td>
        </tr>
      <%}%>
      <tr>
        <td><a href='/urls/new'>Add new link...</a></td>
      </tr>
    </table>
  </ul>
</body>
</html>