<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for (let key in urls) { %>
      <li><b><%= key %></b> - <%= urls[key] %></li>
    <%}%>
    <li><a href='/urls/new'>Add new link...</a></li>
  </ul>
</body>
</html>