<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <table>
      <% for (let key in urls) { %>
        <tr>
          <td style='width:15%;'><b><%= key %></b></td>
          <td>→</td>
          <td><%= urls[key].longURL %></td>
          <td><a href='/urls/<%= key%>'>Edit</a></td>
          <td>
            <form action='<%= `/urls/${key}/delete?_method=DELETE` %>' method='POST' style='display:inline;'>
              <input type='submit' value='Delete'>
            </form>
          </td>
        </tr>
      <%}%>
      <tr>
        <td colspan='5'><a href='/urls/new'>Add new link...</a></td>
      </tr>
    </table>
  </ul>
</body>
</html>