<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for (let key in urls) { %>
      <li>
        <b><%= key %></b> - <%= urls[key] %>
        <a href='/urls/<%= key%>' style='margin:20px;'>Edit</a>
        <form action='<%= `/urls/${key}/delete` %>' method='POST' style='display:inline; margin:20px'>
          <input type='submit' value='Delete'>
        </form>
      </li>
    <%}%>
    <li><a href='/urls/new'>Add new link...</a></li>
  </ul>
</body>
</html>