<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <b><%= shortURL %></b>
  <form action='<%= `/urls/${shortURL}` %>' method='POST' style='display:inline; margin:20px'>
    <input id="longURL" type="text" name="longURL" value='<%= longURL %>' placeholder='Enter a url here...' style="width: 300px">
    <input type='submit' value='Update'>
  </form>
</body>
</html>