<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <ul>
    <% for (let key in urls) { %>
      <li><%= urls[key] %> - <b><%= key %></b></li>
    <%}%>
    <li><a href='#'>Add new link...</a></li>
  </ul>
</body>
</html>